:root {
    --color-grey1: #f5f5f5;
    --color-grey2: #BDBDBD;
    --color-grey3: #828282;
    --color-green: #27AE60;
    --color-grey4: #333;
    --color-white: #fff;
    --font-primary: 'Inter', sans-serif;
}
