%title {
    font-family: var(--font-primary);
    font-style: normal;
    font-size: .875rem;
    font-weight: 600;
}

.titleCard {
    @extend %title;
    color: var(--color-grey4);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.titleCategoryCard {
    @extend %title;
    color: var(--color-grey3);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
}

.titlePriceCard {
    @extend %title;
    color: var(--color-green);
    line-height: 1.5rem;
}

.titleButtonCard {
    @extend %title;
    color: var(--color-white);
    line-height: normal;
}
