.headerContainer {
    width: 100%;
    background-color: var(--color-grey1);
}

.headerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 85.5rem;
    margin-inline: auto;
    align-items: center;
    padding: 1rem;
    height: 5rem;
}

.status {
    position: relative;
    bottom: 22px;
    right: 10px;

    width: min-content;
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 0.2rem 0.2rem;
    border-radius: 7px;

    font-family: var(--font-primary);
    font-size: .875rem;
    font-style: normal;
    font-weight: 900;
    line-height: 0px;
}





